@use './variables.scss' as *;

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin min-desktop {
    @media (min-width: $breakpoint-desktop-min) {
        @content;
    }
}