@use './variables.scss' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: $text-color-dark-theme;
    background-color: $bg-color-dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

a {
    font-weight: 500;
    color: $primary-color;
    text-decoration: inherit;

    &:hover {
        color: $primary-color-hover;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $button-bg-dark;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: $primary-color;
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}

.card {
    padding: 0.5em;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

@media (prefers-color-scheme: light) {
    :root {
        color: $text-color-light-theme;
        background-color: $bg-color-light;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: $button-bg-light;
    }
}