// Theme Colors
$bg-color-dark: #242424;
$bg-color-light: #ffffff;
$primary-color: #646cff;
$primary-color-hover: #535bf2;
$text-color-dark-theme: rgba(255, 255, 255, 0.87);
$text-color-light-theme: #213547;
$button-bg-dark: #1a1a1a;
$button-bg-light: #f9f9f9;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop-min: 1440px;
$breakpoint-desktop-base: 1920px;
